*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.body .wrapper{
    width: 100%;
    height: 100%;
}
.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(Image/background\ 11111.jpeg);
    background-size: cover;
    position: relative;
}
.wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.wrapper .navbar{
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.wrapper .navbar .icone{
    width:100px;
    height: auto;
    padding: 20px 20px ;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family:"Open Sans", sans-serif ;
    transition: 0.4s;
}
.wrapper .navbar ul li a.active,
.wrapper .navbar ul li a:hover{
    background-color: rgb(113, 191, 236);
    border-radius: 2px;
}

.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family:"Open Sans", sans-serif ;
user-select: none;
}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color:white ;
    background-color:  rgb(113, 191, 236);
    border: 1px solid #036897;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background-color: #036897;
}